/* Cartas del shop */
    $normalPrice: (
        color-normal: white,
        bg-normal: rgb(194, 159, 130),
        border-normal: 2px solid rgb(194, 131, 80),
    );

    $specialOffer: (
        color-offer: rgb(0, 0, 0),
        bg-offer: rgb(235, 210, 68),
        border-offer: 2px solid gold,
    );